.bar-line {
    stroke: #a0a0a0;
    stroke-width: 2;
}

.bar-count-flag {
    stroke: #ffffff;
    stroke-width: 4;
}

.bar-count-text {
    font-size: 12px;
    font-weight: 900;
    font-family: Avenir;
    fill: #ffffff;
    text-anchor: start;
}

.beat-line {
    stroke: #a0a0a0;
    stroke-width: 1;
}

.lane-line {
    stroke: #a0a0a0;
    stroke-width: 1;
}

.event-flag {
    stroke: #ffdea8;
    stroke-width: 4;
}

.event-text {
    font-size: 12px;
    font-weight: 900;
    font-family: Avenir;
    fill: #ffdea8;
    text-anchor: start;
}

.speed-line {
    stroke: #ff33ff;
    stroke-width: 1;
}

.speed-text {
    font-size: 12px;
    font-family: Avenir;
    fill: #ff33ff;
    text-anchor: end;
}

.lyric-text {
    font-size: 12px;
    font-family: FOT-RodinNTLG Pro DB;
    fill: #ffffff;
    text-anchor: start;
}

.slide {
    fill: #c9fce2eb
}

.slide-critical {
    fill: #fffccceb
}

.decoration {
    fill: url(#decoration-gradient);
}

#decoration-gradient {
    --color-start: #c9fce299;
    --color-stop: #c9fce233;
}

.decoration-critical {
    fill: url(#decoration-critical-gradient);
}

#decoration-critical-gradient {
    --color-start: #fcf1c399;
    --color-stop: #fcf1c333;
}

.tick-text {
    font-size: 12px;
    font-family: Avenir;
    fill: #eeeeee;
    text-anchor: end;
}

.tick-line {
    stroke: #808080;
    stroke-width: 1;
}

.meta-line {
    stroke: #e2e2e2;
    stroke-width: 2;
}

.title {
    font-size: 96px;
    font-weight: 900;
    font-family: FOT-RodinNTLG Pro DB;
    fill: #ffffff;
    text-anchor: start;
}

.subtitle {
    font-size: 48px;
    font-weight: 700;
    font-family: FOT-RodinNTLG Pro DB;
    fill: #ffffff;
    text-anchor: start;
}

.lane {
    fill: #273033;
}

.background {
    fill: #282828;
}

.meta {
    fill: #000000;
}
